@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;600;700&family=Orbitron:wght@400;600&display=swap");

.footer {
  /* background-color: #01012b; */
  height: 26vw;
  width: 100%;
  display: flex;
}
.left {
  /* background-color: yellow; */
  width: 50vw;
  height: 100%;
}
.right {
  /* background-color: green; */
  width: 45vw;
  height: 100%;
}
.arrow {
  height: 24vw;
  margin-top: 1.7vw;
}
.left_up {
  /* background-color: aqua; */
  height: 16vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left_up h1 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 2.5vw;
  font-weight: 700;
  margin: 0 14vw 1.5vw;
  color: white;
}
.left_links a {
  font-family: "Chakra Petch", sans-serif;

  text-decoration: none;
  font-size: 1.8vw;
  color: #989898;
  font-weight: 600;
}
.right_links a {
  font-family: "Chakra Petch", sans-serif;
  text-decoration: none;
  font-size: 1.8vw;
  color: #989898;
  font-weight: 600;
}
.left_links {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
}
.right_links {
  margin-left: 2vw;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
}

.links {
  display: flex;
  justify-content: space-around;
  width: 32vw;
  /* background-color: yellow; */
}

.head {
  display: flex;
  /* background-color: yellow; */
  align-items: center;
  width: 30vw;
  justify-content: space-around;
}
.logo img {
  width: 8vw;
  height: 8vw;
}
.neuva h2 {
  font-family: "Orbitron", sans-serif;
  font-size: 3vw;
  /* font-weight: 600; */
  color: #05d9e8;
  -webkit-text-stroke: 0.15vw #006278;
  text-shadow: 2vw 2vw 0.25vw rgb(0 86 120 / 25%);
}

hr {
  height: 0.5vw;
  width: 51.5vw;
  background-color: white;
  border: 0px;
}
.right_up {
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
}
.right_up h2 {
  font-family: "Chakra Petch", sans-serif;
  font-size: 2.5vw;
  margin: 1.5vw 2vw 0vw;
  color: white;
}
.right_up a {
  font-size: 2.3vw;
  color: #989898;
  text-decoration: none;
  margin: 0 5vw 2vw;
  font-weight: 500;
  margin-left: 2.8vw;
}

.a2 {
  height: 0.5vw;
  border: 0px;
  margin-left: -1.2vw;
  background-color: white;
  width: 47.4vw;
}

.social h2 {
  color: white;
  font-family: "Chakra Petch", sans-serif;
  font-size: 2.5vw;
  margin-left: 2vw;
  margin-top: 3vw;
}

.icons {
  /* background-color: yellow; */
  width: 21vw;
  display: flex;
  justify-content: space-around;
  margin-top: 1vw;
}

@media only screen and (max-width: 650px) {
  .footer {
    height: 28vw;
  }
  hr {
    margin-bottom: 1vw;
    width: 52vw;
  }
  .arrow {
    height: 26vw;
  }
  .a2 {
    margin-left: -1.5vw;
    width: 48.5vw;
  }
}
