/**
 * , ::before, ::after {
 *   box-sizing: border-box;
 *   margin: 0;
 *   padding: 0;
 *  
 * 
 * }*/
  .App {
  width: 100%;
  scroll-behavior: smooth;
 overflow-x: hidden;
  }
 

body {
  overflow-x: hidden;
  
}

body::-webkit-scrollbar {
  display: none;
}
.reveal{
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}
